h1 {
    color:black
}
body{
    text-align: center;
    background-color: bisque;
}
ul{
    margin-left: 80%;
}
li{
    margin-left: 80%;
    display: inline-block;
    margin: 2%;
}
ul li:hover{
    color:red;
}
img:hover{
    border-radius: 50%;
    width: 240; height: 220;
    animation: float 8s ease-in-out infinite;
    animation: animate 3s Linear infinite;
    filter: grayscale(0);

}
h2{
    border: 2px solid black; width: 80; 
   
}
h3{
    border: 2px solid black; width: 80;
}
p:hover{
color: blue;
}
@keyframes float {
    0%{
       transform: translateY(0px);
    }
    50%{
       transform: translateY(-60px);
    }
    100%{
       transform: translateY(0px);
    }
}
@keyframes animate {
    0%{
       transform: translateY(0px);
    }
    50%{
       transform: translateY(-60px);
    }
    100%{
       transform: translateY(0px);
    }
}

