h1 {
    color:black
}
body{
    text-align: center;
    background-image: url("paper.gif");
    
}
ul{
    margin-left: 80%;
}
li{
    margin-left: 80%;
    display: inline-block;
    margin: 2%;
}
ul li:hover{
    color:red;
}
img {
    border-radius: 50%;
    width: 240; height: 220;
    transition: all 0.5s ease; 
    cursor: pointer;
    filter: grayscale (100%)
    position: absolute;
    animation: animate 4s linear infinite;
    animation-delay: -1s;
}
h2{
    border: 2px solid black; width: 80; 
   
}
h3{
    border: 2px solid black; width: 80;
}
p:hover{
color: blue;
}

.box:hover::img{
    filter: grayscale(0);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
    



